<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}TITLE{% endblock %}Cell Logger</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
        <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/c.js"></script>
        {% block head %}<!-- head block -->{% endblock %}
    </head>
    <body>
        <div id="page">
            <div id="header">
                Cell Logger Console

                <p><a href="/record">Records</a> | <a href="/station">Stations</a></p>
            </div>
            <hr />
            <div id="main">
                {% block content %}<div>content</div>{% endblock %}
            </div>
            <hr />
            <div id="footer">
                ...
            </div>
        </div>
    </body>
</html>
